{
    "requests": {
        "enabled": true,
        "url": "https://httpbin.org/ip",
        "proxy": {
            "enabled": false,
            "server": "http://127.0.0.1:8080"
        }
    },
    "playwright": {
        "enabled": true,
        "url": "https://httpbin.org/headers",
        "refresh_test_count": 0,
        "refresh_interval_seconds": 1.0,
        "proxy": {
            "enabled": false,
            "server": "socks5://127.0.0.1:1080"
        }
    },
    "browser": {
        "channel": "chromium",
        "executable_path": "",
        "headless": false,
        "devtools": true,
        "stealth": true,
        "locale": "en-US",
        "timezone_id": "America/New_York",
        "viewport": {
            "width": 1280,
            "height": 720
        }
    }
}
